<%= form_with(model: home_owner, local: true) do |form| %>
  <% if home_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home_owner.errors.count, "error") %> prohibited this home_owner from being saved:</h2>

      <ul>
      <% home_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
<div class="d-flex w-100">
<div class="container w-50">
  <div class="form-group row">
    <%= form.label :latitude, {class: 'col-sm-4 col-form-label' } %>
    <div class="col-sm-8">
    <%= form.text_field :latitude, { class: 'form-control lat',  readonly: true} %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :longitude, {class: 'col-sm-4 col-form-label'} %>
    <div class="col-sm-8">
    <%= form.text_field :longitude, { class: 'form-control ln',  readonly: true} %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :min_budget, {class: 'col-sm-4 col-form-label'} %>
    <div class="col-sm-8">
    <%= form.number_field :min_budget, { class: 'form-control'} %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :max_budget, {class: 'col-sm-4 col-form-label'} %>
    <div class="col-sm-8">
    <%= form.number_field :max_budget, { class: 'form-control'} %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :build_services, {class: 'col-sm-4 col-form-label'} %>
    <div class="col-sm-8">
    <%= form.check_box :build_services %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :design_services, {class: 'col-sm-4 col-form-label'} %>
    <div class="col-sm-8">
    <%= form.check_box :design_services%>
    </div>
  </div>

</div>
<div class="map-container border w-50 form-control">
  <%= render 'layouts/map_layout' %>
  <p class="mt-4">Select location latitude and longitude through map</p>
</div>
</div>
</div>
  <div class="actions">
    <%= form.submit 'Create Renovation Project',  class: 'btn btn-primary' %>
  </div>
<% end %>
